nav{
  position: absolute;
}

.banner{
 background-image: url("https://wallpaperaccess.com/full/1133872.jpg");
 height: 330px;
}

ul li a{
  color: white;
}

ul li a:hover{
 color: #E5E5DB;
}

h1, h6{
  color: white;
}
