nav{
  position: absolute;
}

.banner{
 background-image: url("https://www.teahub.io/photos/full/156-1567249_wallpaper-new-york-street-skyscraper-garland-ultra-hd.jpg");
 height: 330px;
}

ul li a{
  color: white;
}

ul li a:hover{
 color: #E5E5DB;
}

h1, h6{
  color: white;
}

.tim{
  text-align: center;
  margin-left: 180px;
}
.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #18130E;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  text-align: left;
  height: 80px;
}
