nav{
  position: absolute;
}

.banner{
 background-image: url("https://mocah.org/uploads/posts/4548909-japan-night-town-city.jpg");
 height: 330px;
}

ul li a{
  color: white;
}

ul li a:hover{
 color: #E5E5DB;
}

h1, h6{
  color: white;
}
.progress{
  transform: rotate(-90deg);
  position: absolute;
  top: 50%
}
